.dessertPhoto {
  display: grid;
  overflow: hidden;
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-8px);
  position: relative;

  & > * {
    grid-area: 1 / 1;
  }

  & .dessertContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 2rem 2rem 2rem;
    z-index: 1;

    & .dessertName {
      color: var(--edward-50);
      text-align: center;
      font-size: clamp(1.5rem, 3.5rem + -2.5vw, 2.5rem);
      line-height: 1.2;
      text-transform: capitalize;

      & .special {
        font-family: var(--type-second);
      }
    }
    & .dessertDescription {
      color: var(--edward-50);
      align-self: flex-end;
      text-align: right;
      font-size: 1.5rem;
      line-height: 1.1;
    }
  }
}

@media (max-width: 768px) {
  .dessertPhoto {
    & .dessertContent {
      padding: 1rem;
    }

    & .dessertContent {
      justify-content: space-between;

      & .dessertDescription {
        line-height: auto;
        text-align: left;
        align-self: center;
        font-size: 2.5rem;
      }
    }
  }
}

@media (max-width: 430px) {
  .dessertPhoto {
    & .dessertContent {
      & .dessertDescription {
        font-size: clamp(1.25rem, 0.875rem + 0.875vw, 2.5rem);
      }
    }
  }
}
