.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 4.5rem 0;

  & .grid1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;

    & img {
      height: 32.8125rem;
      object-fit: cover;
    }

    & .paragraph1 {
      line-height: 1.7;
      max-width: 37rem;

      & span {
        font-family: var(--type-second);
        color: var(--keppel-600);
      }
    }
  }

  & .grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: start;

    & .paragraphs2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4.875rem;

      & .paragraph2 {
        line-height: 1.7;
        max-width: 37rem;
      }

      & .paragraphCall {
        text-align: center;
        font-size: var(--paragraph-2);
        line-height: 1.5;
        max-width: 22rem;

        & span {
          font-family: var(--type-second);
          color: var(--keppel-600);
        }
      }
    }

    & img {
      max-height: 46.3125rem;
      object-fit: cover;
    }
  }
}

@media (max-width: 768px) {
  .story {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;

    & .grid1 {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
    & .grid2 {
      grid-template-columns: 1fr;
      gap: 1rem;

      & .paragraphs2 {
        order: 2;
        gap: 2.5rem;

        & .paragraphCall {
          margin-bottom: 3rem;
        }
      }

      & img {
        order: 1;
      }
    }
  }
}
