.wrapper {
  display: grid;

  & .skeleton {
    grid-area: 1/1;
    max-width: 100%;
    background-image: linear-gradient(
      90deg,
      var(--edward-300) 0px,
      var(--edward-50) 50%,
      var(--edward-300) 100%
    );
    background-color: var(--edward-300);
    background-size: 200%;
    animation: skeleton 1.5s infinite linear;

    & .img {
      display: block;
      object-fit: cover;
      max-width: 100%;
      grid-area: 1 / 1;
      opacity: 0;
      transition: 0.2s;
    }
  }
}

@keyframes skeleton {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -200%;
  }
}
