@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;500;700&display=swap');

:root {
  /* COLORS */
  --keppel-50: #eefbf5;
  --keppel-100: #d6f5e5;
  --keppel-200: #b0eacf;
  --keppel-300: #7dd8b4;
  --keppel-400: #3eb489;
  --keppel-500: #24a57a;
  --keppel-600: #178462;
  --keppel-700: #126a51;
  --keppel-800: #115441;
  --keppel-900: #0f4537;
  --keppel-950: #07271f;

  --meteor-50: #fdfbe9;
  --meteor-100: #fbf7c6;
  --meteor-200: #f8ec90;
  --meteor-300: #f4db50;
  --meteor-400: #efc620;
  --meteor-500: #dfae13;
  --meteor-600: #c78c0e;
  --meteor-700: #9a620e;
  --meteor-800: #7f4d14;
  --meteor-900: #6c3f17;
  --meteor-950: #3f2009;

  --edward-50: #f7f8f7;
  --edward-100: #eef0f0;
  --edward-200: #dadddc;
  --edward-300: #b0b5b3;
  --edward-400: #959b99;
  --edward-500: #787f7c;
  --edward-600: #616865;
  --edward-700: #4f5553;
  --edward-800: #444846;
  --edward-900: #3b3f3e;
  --edward-950: #272a29;

  /* FONT FAMILY */
  --type-first: 'Roboto', sans-serif;
  --type-second: 'Pacifico', cursive;

  /* FONT SIZE */
  --title-1: clamp(1.5rem, calc(1.05rem + 2.56vw), 3rem);
  --title-2: clamp(1.5rem, calc(0.45rem + 5.98vw), 5rem);
  --title-3: clamp(2rem, calc(0.8rem + 6.84vw), 6rem);

  --paragraph-1: clamp(1rem, calc(0.55rem + 2.56vw), 2.5rem);
  --paragraph-2: clamp(1rem, calc(0.7rem + 1.71vw), 2rem);

  /* SHADOWS */
  --shadow-1px: 0px 1px 3px 0px rgba(39, 42, 41, 0.2),
    0px 2px 2px 0px rgba(39, 42, 41, 0.12),
    0px 0px 2px 0px rgba(39, 42, 41, 0.14);
  --shadow-2px: 0px 2px 5px -5px rgba(39, 42, 41, 0.2),
    0px 6px 4px -4px rgba(39, 42, 41, 0.12),
    0px 2px 4px -4px rgba(39, 42, 41, 0.14);
  --shadow-8px: 0px 4px 5px 0px rgba(0, 0, 0, 0.2),
    0px 3px 14px 0px rgba(0, 0, 0, 0.12), 0px 8px 10px 0px rgba(0, 0, 0, 0.14);
}

body {
  font-family: var(--type-first);
  color: var(--edward-950);
  background-color: var(--edward-50);
}

.container {
  max-width: 76rem;
  margin-inline: auto;
}

.title {
  color: var(--meteor-600);
  font-size: var(--title-1);
  font-family: Pacifico;
  line-height: 100%;
  position: relative;
  text-align: center;
  text-decoration: underline 0.375rem;
  text-underline-position: under;
  text-decoration-color: var(--meteor-700);
}

.separator {
  max-width: 76rem;
  margin-inline: auto;
  height: 2px;
  background-color: var(--edward-950);
}
