@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;500;700&display=swap');

:root {
  /* COLORS */
  --keppel-50: hsl(152, 61.9%, 95.9%);
  --keppel-100: hsl(149, 60.8%, 90%);
  --keppel-200: hsl(152, 58%, 80.4%);
  --keppel-300: hsl(156, 53.8%, 66.9%);
  --keppel-400: hsl(158, 48.8%, 47.5%);
  --keppel-500: hsl(160, 64.2%, 39.4%);
  --keppel-600: hsl(161, 70.3%, 30.4%);
  --keppel-700: hsl(163, 71%, 24.3%);
  --keppel-800: hsl(163, 66.3%, 19.8%);
  --keppel-900: hsl(164, 64.3%, 16.5%);
  --keppel-950: hsl(165, 69.6%, 9%);

  --meteor-50: hsl(54, 83.3%, 95.3%);
  --meteor-100: hsl(55, 86.9%, 88%);
  --meteor-200: hsl(53, 88.1%, 76.9%);
  --meteor-300: hsl(51, 88.2%, 63.5%);
  --meteor-400: hsl(48, 86.6%, 53.1%);
  --meteor-500: hsl(46, 84.3%, 47.5%);
  --meteor-600: hsl(41, 86.9%, 41.8%);
  --meteor-700: hsl(36, 83.3%, 32.9%);
  --meteor-800: hsl(32, 72.8%, 28.8%);
  --meteor-900: hsl(28, 64.9%, 25.7%);
  --meteor-950: hsl(26, 75%, 14.1%);

  --edward-50: hsl(120, 6.7%, 97.1%);
  --edward-100: hsl(180, 6.2%, 93.7%);
  --edward-200: hsl(160, 4.2%, 86.1%);
  --edward-300: hsl(156, 3.3%, 70%);
  --edward-400: hsl(160, 2.9%, 59.6%);
  --edward-500: hsl(154, 2.8%, 48.4%);
  --edward-600: hsl(154, 3.5%, 39.4%);
  --edward-700: hsl(160, 3.7%, 32.2%);
  --edward-800: hsl(150, 2.9%, 27.5%);
  --edward-900: hsl(165, 3.3%, 23.9%);
  --edward-950: hsl(160, 3.7%, 15.9%);

  /* FONT FAMILY */
  --type-first: 'Roboto', sans-serif;
  --type-second: 'Pacifico', cursive;

  /* FONT SIZE */
  --title-1: clamp(1.5rem, calc(1.05rem + 2.56vw), 3rem);
  --title-2: clamp(1.5rem, calc(0.45rem + 5.98vw), 5rem);
  --title-3: clamp(2rem, calc(0.8rem + 6.84vw), 6rem);

  --paragraph-1: clamp(1rem, calc(0.55rem + 2.56vw), 2.5rem);
  --paragraph-2: clamp(1rem, calc(0.7rem + 1.71vw), 2rem);

  /* SHADOWS */
  --shadow-1px: 0px 1px 3px 0px rgba(39, 42, 41, 0.2),
    0px 2px 2px 0px rgba(39, 42, 41, 0.12),
    0px 0px 2px 0px rgba(39, 42, 41, 0.14);
  --shadow-2px: 0px 2px 5px -5px rgba(39, 42, 41, 0.2),
    0px 6px 4px -4px rgba(39, 42, 41, 0.12),
    0px 2px 4px -4px rgba(39, 42, 41, 0.14);
  --shadow-8px: 0px 4px 5px 0px rgba(0, 0, 0, 0.2),
    0px 3px 14px 0px rgba(0, 0, 0, 0.12), 0px 8px 10px 0px rgba(0, 0, 0, 0.14);
}

body {
  font-family: var(--type-first);
  color: var(--edward-950);
  background-color: var(--edward-50);
}

.container {
  max-width: min(76rem, 100% - 1.5rem);
  margin-inline: auto;
}

.title {
  color: var(--meteor-600);
  font-size: var(--title-1);
  font-family: Pacifico;
  line-height: 100%;
  position: relative;
  text-align: center;
  text-decoration: underline 0.375rem;
  text-underline-position: under;
  text-decoration-color: var(--meteor-700);
}

.separator {
  max-width: 76rem;
  margin-inline: auto;
  height: 2px;
  background-color: var(--edward-950);
}
